.card {
    width: 24.9%;
}
.selected {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: scaleY(1.1);
  }
.blue-header {
    background-color:rgb(40, 142, 173);
}
.blue-info {
    background-color: rgba(40, 142, 173, 0.9);
}
.red-header {
    background-color:rgb(184, 59, 59);
}
.red-info {
    background-color: rgba(184, 59, 59, 0.9);
}
.gray-header {
    background-color:rgb(56, 54, 54);
}
.gray-info {
    background-color: rgba(56, 54, 54, 0.9);
}
.green-header {
    background-color:rgb(40, 163, 122);
}
.green-info {
    background-color: rgba(40, 163, 122, 0.9);
}
.card__header {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-bottom: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.card__info {
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    
}

.card__currency {
    margin-bottom: 70px;
}
.card__price {
    font-size: 60px;
}
.card__period{
    margin-top: 50px;
}

.card__speed {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(244, 244, 244);
    color: rgb(57, 57, 57);
}

.card__footer {
    height: 80px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 230, 230);
    color: rgb(57, 57, 57);
}